<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wuchaofei.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="top.wuchaofei.domain.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.wuchaofei.domain.User" extends="BaseResultMap" >
    <result column="avatar" property="avatar" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="PagerResultMap" type="top.wuchaofei.domain.User" extends="ResultMapWithBLOBs" >
    <result column="avatar" property="avatar" jdbcType="LONGVARCHAR" />
    <collection property="roleList" ofType="top.wuchaofei.domain.Role" column="id" select="top.wuchaofei.mapper.RoleMapper.selectByUserId"></collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, token, username, password, mobile, status, mail, create_date, modify_date
  </sql>
  <sql id="Blob_Column_List" >
    avatar
  </sql>

  <resultMap id="FindUserResultMap" type="top.wuchaofei.domain.User" extends="ResultMapWithBLOBs" >
    <collection property="roleList" column="id" select="top.wuchaofei.mapper.RoleMapper.selectRoleListByUserId" />
  </resultMap>

  <select id="findUserByName" resultMap="FindUserResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    WHERE
    username = #{username ,jdbcType=VARCHAR}
  </select>

  <select id="selectByRoleId" parameterType="int" resultMap="ResultMapWithBLOBs">
    select u.* from user u
    INNER JOIN user_role ur on u.id = ur.user_id
    INNER JOIN role r on r.id = ur.role_id
    WHERE u.id = #{id}
  </select>

  <select id="listByPager" parameterType="java.util.Map" resultMap="PagerResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    <if test="orderByClause != null">
      ORDER BY ${orderByClause}
    </if>
    <if test="orderByClause == null">
      ORDER BY id
    </if>
  </select>
</mapper>